<div class="about container">
  <logo></logo>
  <div class="about-body animated fadeIn">
    <p>A simple yet fun card game in which all of the cards are laid face down on a surface and two cards are flipped face up over each turn. The object of the game is to turn over pairs of matching cards
, Powered by Angular2</p>
    <h2>Author</h2>
    <p>Murhaf Sousli</p>
  </div>
  <div class="social">
    <a class="animated swing" href="http://murhafsousli.com"><img [src]="site"/></a>
    <a class="animated swing" href="https://github.com/MurhafSousli"><img [src]="github"/></a>
    <a class="animated swing" href="https://twitter.com/MurhafSousli"><img [src]="twitter"/></a>
    <a class="animated swing" href="mailto:murhafsousli@gmail.com"><img [src]="email"/></a>
  </div>
  <a class="add animated bounceInUp" href="https://murhafsousli.github.io/ng2-sharebuttons/">
    <img class="coffee" [src]="coffee"/>
    <p>Add Share buttons to your app</p>
  </a>
</div>


