<div class="app-wrapper">
  <header>
    <h1>{{title}}</h1>
  </header>
  <div class="menu">
    <div class="menu-item">
      <button (click)="newGame()">New</button>
    </div>
    <div class="menu-item">
      <button (click)="about()">About</button>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="share-overlay">
      <share-buttons [url]="'https://MurhafSousli.github.io/memory'" [count]="true"></share-buttons>
    </div>
  </footer>
</div>
