body, html
  font-family: $base-font
  color: $base-color

body
  background-color: $woodcolor
  background: url('./assets/background.png') repeat

.app-wrapper
  display: flex
  flex-direction: column
  height: 100vh

main
  position: relative

home, about, .main
  display: flex
  flex: 1

h1, h2, h3, h4
  margin: 10px
  font-weight: 400

.loading
  font-family: $sec-font
  display: flex
  justify-content: center
  align-items: center
  font-size: 3em
  color: white
  height: 100vh




