.card
  width: 86px
  height: 120px
  margin: 10px
  color: white
  cursor: pointer
  position: relative

  .front, .back
    display: flex
    justify-content: center
    align-items: center
    border-radius: 6px
    font-size: 3em

    position: absolute
    backface-visibility: hidden
    width: 100%
    height: 100%

    z-index: 2
    transition: transform .35s linear
    transform-style: preserve-3d


.front
  background-color: $card-color
  color: $card-bg
  transform: perspective(600px) rotateY(0deg)

.back
  background-color: $card-bg
  color: $card-color
  transform: perspective(600px) rotateY(-180deg)

.flipped .front
  transform: rotateY(-180deg)

.flipped .back
  transform: rotateY(0deg)

