logo, .logo
  width: 100%
.logo
  margin-top: 40px
  margin-bottom: 20px
  display: flex
  align-items: center
  justify-content: space-around
  &-cards
    position: relative
    .card
      display: inline-block
  .left
    transform: rotate(5deg)
    margin-left: -40px

  .right
    transform: rotate(-20deg)

  &-title h1
    font-size: 4em
    font-family: $sec-font
    color: white
